@using NovoePokolenie.Helpers
@inject Microsoft.AspNetCore.Identity.UserManager<NPUser> _userManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    NPUser user = await _userManager.GetUserAsync(User);
}
@if (User.IsInRole("Manager"))
{
    <form asp-action="AllUserSearch" asp-controller="Account" method="post"
          data-ajax="true" data-ajax-mode="replace"
          data-ajax-update="#users">
        <input type="text" placeholder="Имя" name="name" autofocus />
        <input type="text" placeholder="Телефон" name="phone" />
        <input type="submit" value="Поиск" />
    </form>
}

<div id="users">
    <div>
        <p class="greeting_container">
            @{
                int hh = DateTime.Now.Hour;
                string greeting = "";
                if (hh > 17 && hh < 23)
                {
                    greeting = "Добрый вечер!";
                }
                else if (hh > 5 && hh < 11)
                {
                    greeting = "Доброе утро!";
                }
                else if (hh > 10 && hh < 18)
                {
                    greeting = "Хорошего дня!";
                }
                else
                {
                    greeting = "Спокойной ночи!";
                }
                @greeting
                ;
            }
        </p>
    </div>
</div>
