@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Branch>

<div>
    <ul class="branch_container flex_evenly">
        @foreach (var branch in Model)
        {
            <li class="branch_container__item">
                <a href="@Url.Action("MentorLessonDetail", "Branch", new { BranchId = branch.Id })"
                   data-ajax="true"
                   data-ajax-mode="replace"
                   data-ajax-update="#groups">@branch.Name</a>
            </li>
        }
    </ul>
    <div id="groups">

    </div>
</div>
