@model NovoePokolenie.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Вход - Новое Поколение</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form-box">
        <form asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All" class="error_text"></div>
            <div class="form__group">
                <input type="text" placeholder=" " asp-for="Login" class="form__input text_input" autocomplete="off">
                <label for="login" class="placeholder_label">Логин</label>
            </div>
            <div class="form__group">
                <input type="password" placeholder=" " asp-for="Password" class="form__input text_input" autocomplete="off">
                <label for="password" class="placeholder_label">Пароль</label>
            </div>
            <input type="submit" class="form__input" value="Войти">
        </form>
        <aside>
            <img src="/img/logo.png" alt="логотип" class="logo">
            <p>Добро пожаловать в Новое Поколение!</p>
        </aside>
    </div>

    <script>
        $('.placeholder_label').on('click', event => {
            $(event.currentTarget).prev().focus();
        })
    </script>
</body>
</html>