@{
    Layout = null;
}

<form asp-action="ResetPassword" asp-controller="Account"
      data-ajax="true"
      data-ajax-mode="post"
      data-ajax-success="Okay()"
      data-ajax-failure="$('#password_error').text('Неверный пароль')"
      id="change_password_form"
      class="setings_form">

    <div>
        <label>Текущий пароль:</label><br />
        <input type="password" name="CurrentPassword" class="form-control" />
        <span id="password_error" class="error"></span>
    </div>

    <div>
        <label>Новый пароль:</label><br />
        <input type="password" name="NewPassword" class="form-control" />
        <span id="validation_error" class="error"></span>
    </div>

    <div>
        <label>Повторите пароль:</label><br />
        <input type="password" name="CheckPassword" class="form-control" />
        <span id="check_error" class="error"></span>
    </div>

    <div>
        <input type="submit" class="form-control" value="Сохранить" />
    </div>

</form>
<script>
    function Okay() {
        $('#password_error').text('');
        alert('Пароль успешно изменен');
    }

    $("#change_password_form [type='submit']").on('click', (event) => {
        event.preventDefault();
        let np = $("[name='NewPassword']").val();
        let cp = $("[name='CheckPassword']").val();
        if (cp != np) {
            $('#check_error').text("Введенные пароли не совпадают");
            return;
        }
        else if (!np.match(/^([a-zA-Z0-9]{6,})$/)) {
            $('#validation_error').text('Пароль должен состоять из букв латинского алфавита и содержать не менее 6 знаков')
        }
        else {
            $('form').submit();
        }
    });
</script>