@model Dictionary<string, int>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="dist/chartist.min.js"></script>
    <link rel="stylesheet" href="dist/chartist.min.css">
</head>

<body>
    <div class="ct-chart"></div>
    <script>
        let lbls = [];
        for (let i = 0; i < @Model.Count; i++) {
            lbls.push(@Model.)
        }
        var data = {
            labels: ['Bananas', 'Apples', 'Grapes'],
            series: [20, 15, 40]
        };
        new Chartist.Pie('.ct-chart', data);
    </script>
</body>

</html>