@model Branch

<div>
    <form method="post" asp-controller="Branch" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Adress"></label><br />
            <input asp-for="Adress" class="form-control" />
            <span asp-validation-for="Adress" id="password_span"></span>
        </div>
        <div>
            <input type="submit" value="Создать" class="btn btn-outline-dark" />
        </div>
    </form>
</div>
