@model Branch

    <div>
        <form asp-action="Edit" asp-controller="Branch">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Adress"></label><br />
                <input asp-for="Adress" />
                <span asp-validation-for="Adress"></span>
            </div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>