@model NovoePokolenie.ViewModels.BranchViewModel
@using NovoePokolenie.Helpers

@{ 
    var scheduleDay = "";
}

<div class="group_container flex_evenly">
    @{ 
        for(int i = 0; i<Model.Groups.Count;)
        {
            <div>
                @{ 
                    scheduleDay = StHel.ScheduleDays(Model.Groups[i].TimeTable);
                    while(scheduleDay == StHel.ScheduleDays(Model.Groups[i].TimeTable))
                    {
                        <p>
                            <a href="@Url.Action("GroupLevelsProjects", "Student", new { groupId = Model.Groups[i].Id })"
                                data-ajax="true"
                                data-ajax-mode="replace"
                                data-ajax-update="#attendance">
                                    @StHel.TimeTableToShortString(Model.Groups[i].TimeTable)
                            </a>
                        </p>

                        i++;
                        if (i == Model.Groups.Count) break;
                    }
                }
            </div>
        }
    }
</div>
<div id="attendance">

</div>
