@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lesson_container">
    <div id="lesson_detail" data-project="@ViewBag.ProjectLink"></div>
</div>

<script>
    $(document).ready(() => {
        let path = $('#lesson_detail').attr("data-project");
        $("#lesson_detail").load(path, function(){
            let prefix = path.split('/').slice(0, -1).join('/') + "/";
            let sources = $('#lesson_detail *[src]:not(.no-route-link)');
            let links = $('#lesson_detail *[href]:not(.no-route-link)');
            let globals = $('#lesson_detail *[src^=http]:not(.no-route-link)');
            globals.push(...$('#lesson_detail *[href^=http]:not(.no-route-link)'))
            globals = globals.toArray()
            for (let i = 0; i < sources.length; i++) {
                if (globals.includes(sources[i])) continue;
                let s = sources[i].getAttribute('src')
                sources[i].setAttribute('src', prefix + s)
            }
            for(let i = 0; i<links.length; i++){
                if (globals.includes(sources[i])) continue;
                let s = links[i].getAttribute('href')
                links[i].setAttribute('href', prefix + s)
            }
        });
    });
</script>