@font-face {
  font-family: 'Lato';
  src: url("fonts/latothin.woff2");
  font-weight: 200;
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/latoregular.woff2");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-weight: 100;
}

body {
  padding: 5vh 5vw;
}

nav img {
  max-height: 50px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60vh;
}

main section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .image-section > img {
  max-width: 100%;
  height: auto;
}

main .accent-text {
  font-weight: 200;
  color: #008DD2;
}

main h2.accent-text {
  font-size: 4rem;
  margin: 1rem 0;
}

main p.accent-text {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

main .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border: 1px solid #CED6FF;
}

main .form-div .form-icon {
  padding: 0 20px;
  font-size: 2rem;
}

main .form-div .form-icon ~ div {
  padding-right: 20px;
  font-size: 1.2rem;
}

main .form-div input[type="password"],
main .form-div input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CED6FF;
  background-color: transparent;
  font-size: 1.2rem;
}

main .form-div input[type="password"]:focus,
main .form-div input[type="text"]:focus {
  outline: none;
}

main .form-login {
  background-color: #F4F4F4;
  border-radius: 10px 10px 0 0;
}

main .form-password {
  background-color: #FCFCFC;
  border-radius: 0 0 10px 10px;
}

main .form-login-input,
main .form-password-input {
  width: 100%;
}

main .form-info {
  padding-top: 10px;
}

main .form-info label {
  cursor: pointer;
  font-size: 1.2rem;
}

main .form-info input {
  display: none;
}

main .form-info #checked {
  display: none;
  color: #008000;
}

main .form-info #unchecked {
  color: #000000;
}

main .form-info input:checked ~ label #checked {
  display: inline;
}

main .form-info input:checked ~ label #unchecked {
  display: none;
}

main input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #008DD2;
  border: 0;
  border-radius: 5px;
  margin: 50px 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .image-section {
    display: none;
  }
  main section {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media screen and (max-width: 600px) {
    .motto {
        font-size: 2rem !important;
    }

    .logo[alt='logo-text']{
        display: none !important;
    }

    .button{
        width: auto !important;
    }
}
/*# sourceMappingURL=style.css.map */