@model PaymentPeriod

<style>
    input{
        color: #000 !important;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }

    input[type="submit"]{
        width: 100%;
        margin-top: 2rem;
        font-weight: 400;
        background: rgb(0, 128, 64);
        color: white !important;
    }
</style>
<p>Добавление нового периода оплаты</p>
        <form asp-action="CreatePaymentPeriod" asp-controller="Payment" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
            </div>
            <div>
                <label>Дата начала периода оплаты</label><br />
                <input asp-for="PaymentStart" type="date" />
            </div>
            <div>
                <label>Дата конца периода оплаты</label><br />
                <input asp-for="PaymentEnd" type="date" />
            </div>
            <div>
                <label>Сумма оплаты</label><br />
                <input asp-for="MustTotal" value="@ViewBag.MustTotal" />
            </div>
            <div>
                <input type="submit" value="Добавить" class="btn"/>
            </div>
        </form>
    