@model Payment
    <div>
        <form asp-controller="Payment" 
              asp-action="CreatePayment" 
              data-ajax-success="$('#createperiod').css('display', 'none')" 
              data-ajax="true" 
              data-ajax-mode="replace"
              data-ajax-method="post">
            <div asp-validation-summary="All"></div>
            <div class="hide">
                <input asp-for="UserId" type="hidden" value="@ViewBag.Period.UserId" />
            </div>
            <div class="hide">
                <input asp-for="PaymentPeriodId" type="hidden" value="@ViewBag.Period.Id" />
            </div>
            <div>
                <label>Сумма оплаты</label><br />
                <input class="date_input" asp-for="PaymentAmount" />
            </div>
            <div>
                <input class="date_input" asp-for="PaymentCreated" type="date" />
            </div>
            <div>
                <textarea class="date_input" asp-for="Comment"></textarea>
            </div>
            <button class="add_button" id="submit">Создать</button>
            @*<input type="submit" value="Создать" />*@
        </form>
    </div>
<script>
    $('#submit').one('click', (evt) => { evt.preventDefault(); $('form').submit() });
</script>