@model List<PaymentPeriod>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="payments_list">
    @foreach(var period in Model)
    {
    long debt = period.MustTotal;
    <div class="payment_detail">
        <p class="period_title">Период оплаты от @NovoePokolenie.Helpers.StHel.GetFormatedDate(period.PaymentStart, false) до @NovoePokolenie.Helpers.StHel.GetFormatedDate(period.PaymentEnd, false)</p>
        <p>Внесено:</p>
        @if(period.Payments.Count != 0){
        <ul class="period_payments_list">
            @foreach (var payment in period.Payments)
            {
            debt -= payment.PaymentAmount;
             <li>
                 <span>@NovoePokolenie.Helpers.StHel.GetFormatedDate(payment.PaymentCreated, false) - @payment.PaymentAmount с.</span>
             </li>
            }
        </ul>
        }
        @if(debt > 0){
            <p class="text-debt">Долг: @debt c.</p>
        }
        else{
            <p class="text-done">Оплачено</p>
        }
    </div>
    }
</div>