@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
@model List<Branch>

<div>
    <ul class="branch_container flex_evenly">
        @foreach (var branch in Model)
        {
            <li class="branch_container__item">
                <a href="@Url.Action("BranchPayment", "Payment", new { BranchId = branch.Id })"
                   data-ajax="true"
                   data-ajax-mode="replace"
                   data-ajax-update="#groups"
                   data-ajax-begin="startWait()"
                   data-ajax-success="endWait()"
                   data-ajax-failure="alert('fail')"
                   class="branch_name">@branch.Name</a>
            </li>
        }
    </ul>
    <div id="groups">

    </div>
    <script>
        function startWait() {
            let waiter = document.createElement('div');
            for (let i = 0; i < 3; i++) {
                waiter.appendChild(document.createElement('div'));
            }
            document.body.appendChild(waiter);
            $(waiter).addClass('waiter');
            $(document.body).css('overflow', 'hidden');
        }

        function endWait() {
            $('.waiter').remove();
            $(document.body).css('overflow-y', 'scroll');
        }

    </script>
</div>

@* <a href="@Url.Action("PaymentDetail", "Branch", new { BranchId = branch.Id })"
    data-ajax="true"
    data-ajax-mode="replace"
    data-ajax-update="#groups">@branch.Name</a> *@