@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="container flex_column">
    <ul class="branch_container">
        <li class="branch_container__item">
            <a href="@Url.Action("GetLeadsAsync", "Account")"
               data-ajax="true"
               data-ajax-mode="replace"
               data-ajax-update="#users">Лиды</a>
        </li>
        <li class="branch_container__item">
            <a asp-action="Archive" asp-controller="Student" class="group_link">Архив</a>
        </li>
        <li class="branch_container__item">
            <a asp-action="Trial" asp-controller="Student" class="group_link">Пробники</a>
        </li>

        <li class="branch_container__item">
            <a asp-action="Staff" asp-controller="Account" class="group_link">Сотрудники</a>
        </li>
        <li class="branch_container__item">
            <a asp-action="BlockedUsers" asp-controller="Account" class="group_link">Заблокированные</a>
        </li>
    </ul>
</div>

<div id="users"></div>