@model List<Level>

@{
    //TODO: get layout name by role to helpers
    if (User.IsInRole("Mentor"))
    {
        Layout = "~/Views/Shared/_MentorLayout.cshtml";
    }
}

<div class="project-index-container">
    @foreach(var level in Model)
    {
        <div class="level-container">
            <div class="accent-header">@level.Name</div>
            <table>
                @foreach(var project in level.Projects)
                {
                    <tr>
                        <td>#</td>
                        <td>@project.Name</td>
                        <td>
                            @{
                                string url = project.ProjectLink.Replace("../../", @"http://pokolenie.kg/");
                            }
                            <a href="@url">
                                @url.Split("/").Last()
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>